.content {
    padding: 10px;
    border: 1px solid green;
    width: fit-content;

    .selectbytag {
        background-color: sandybrown;
        padding: 10px;

        p{
            color: red;
            font-size: 1.5rem;;
        }
    }

    .selectbyname{
        background-color: royalblue;
        padding: 10px;

        p{
            color: yellowgreen;
            font-size: 1.5rem;;
        }
    }
    .optionslist{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            list-style: none;
            padding: 10px;
        }
    }
}