.content{

    border: 1px solid green;
    padding: 10px;
    width: min-content;
    .slot{
        padding: 10px;
        border: 1px solid green;
        width: min-content; 
        margin-bottom: 10px;
    }
}
